<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_watch实现</title>
    <!-- 引入 Vue 文件 -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备一个容器 -->
    <div id="root">
        性: <input type="text" v-model="firstName">
        <br>
        名: <input type="text" v-model="lastName">
        <br>
        姓名: <span>{{fullName}}</span>
    </div>
</body>
<script>
    Vue.config.productionTip = false;//设置为 false 以阻止 vue 在启动时生成生产提示。

    /* 
        computed 和 watch 之间的区别:
            1.computed 能完成的功能, watch 都可以完成
            2.watch 能完成的功能, computed 不一定能完成, 列如: watch 可以进行异步操作
        
        两个重要的小原则:
            1. 所被 Vue 管理的函数, 最好写写成普通函数, 这要 this 的指向才会是 vm 或 组件实例对象
            2. 所有不被 Vue 所管理的函数(定时器的回调、ajax 的回调函数等、Promise的回调函数), 最好写成箭头函数
                这样 this 的指向才会是 vm 或组件实例对象
    */

    const vm = new Vue({
        el: '#root',

        data: {
            firstName: '张',
            lastName: '三',
            fullName: "张-三"
        },
        watch: {
            firstName(newValue) {
                setTimeout(() => {// 用 vm 身上的东西必须用普通函数
                    console.log(this);// 这里的 this 为 vm; 箭头函数的上层作用域
                    this.fullName = newValue + "-" + this.lastName;
                }, 3000);
            },
            lastName(newValue) {
                this.fullName = this.firstName + "-" + newValue;
            }
        }
    })
</script>

</html>