<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>一线城市列表(遍历数组)</h2>
        <ul>
            <li v-for="(p,index) in persons" :key="p.id">
                城市:{{p.name}}--年:{{p.year}}--索引:{{index}}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h2>汽车信息(遍历对象)</h2>
        <ul>
            <li v-for="(value, k, index) in car" :key="index">
                {{k}}--{{value}}
            </li>
        </ul>

        <!-- 遍历字符串 -->
        <h2>遍历字符串(用的少)</h2>
        <ul>
            <li v-for="(char,index) in str" :key="index">
                {{char}}--{{index}}
            </li>
        </ul>

        <!-- 遍历指定次数 -->
        <h2>遍历指定次数(极少用)</h2>
        <ul>
            <li v-for="(num,index) in 5" :key="index">
                {{index}}--{{num}}
            </li>
        </ul>
    </div>
</body>
<script>
    Vue.config.productionTip = false;
    /* 
        v-for 指令
            1. 用于展示列表数据
            2. 语法: v-for="(itme, index) in xxx" :key="yyy"
            3. 可遍历数组, 对象, 字符串(用的很少), 指定次数(用的很少)
    */

    new Vue({
        el: "#root",
        data: {
            persons: [
                { id: "001", name: "上海", year: 2021 },
                { id: "002", name: "北京", year: 2020 },
                { id: "003", name: "南京", year: 2019 }
            ],
            car: {
                name: "奔驰",
                price: "236W",
                color: "pink"
            },
            str: "wenjing"
        }
    })
</script>

</html>